# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\renya\IdeaProjects\untitled\MavenProject\MavenProject\gitCode\gitCode\gitcode\spring_study_demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
